body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0a0a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    flex-direction: column;
}

.container h1 {
    font-size: 100px;
}

.container p {
    font-size: 30px;
    color: #bbb;
}

.clock-box {
    background-color: #2196F3;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(33, 150, 243, 0.5);
}

#date {
    font-size: 60px;
    margin-bottom: 10px;
}

#time {
    font-size: 70px;
    font-weight: bold;
}
